.definition{
    margin-top: 50px;
}
.no-padding{
    padding: 0;
}
.search-bar{
    width: 70%;
}
.search-button{
    padding-left:25px;
    padding-right:25px;
    float: right;
}

@media screen and (max-width: 576px) {
    .no-padding{
        padding: 0 15px; 
        margin: 10px 0;
    }
    .search-bar{
        width: 100%;
    }
    .search-button{
        width: 100%;
        clear: right;
    }
}
table{
    margin-top: 10px ;
}