<div class="definition">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8 no-padding">
          <input #search type="text" class="form-control search-bar" id="word">
        </div>
        <div class="col-12 col-sm-4 no-padding">
            <button type="button" (click)="start(search.value)"  class="btn btn-success search-button">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 no-padding">            
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Synonyms</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let synonym of synonyms.synonyms">
                  <td>{{synonym}}</td>
                </tr>
              </tbody>
            </table>

        </div>
      </div>
    </div>
</div>
