.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#yallp {
  height: 128px;

  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  text-align: center;
  letter-spacing: 6px;
  word-spacing: 0px;
  color: white;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}
