<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm .bg-dark navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200"><img src="../assets/logo.png"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/definition">Definition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/synonym">Synonynm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/antonym">Antonym</a>
        </li>
    </ul>     
</nav>
<router-outlet></router-outlet>
